<header class="mx-auto max-w-2xl">
  <h1 class="text-3xl font-bold p-3">Event Organizer</h1>
  <hr class="bg-gray-300 border-0 rounded h-1 mx-3" />
  <div class="p-2 flex justify-around items-center">
    <span class="text-center underline">Signed in as: {{ username() }}</span>
    <span class="text-center underline">Your cost: {{ userCost() }}</span>
    <span class="text-center underline">Total cost: {{ totalCost() }}</span>
    <button
      type="button"
      class="rounded bg-blue-500 text-white p-2"
      (click)="dialog.set('createPoll')"
    >
      New Poll
    </button>
  </div>
</header>

<main class="mx-auto max-w-2xl px-3">
  @for (poll of storage.polls(); track poll.pollId) {
  <poll-item
    [dialog]="dialog"
    [poll]="poll"
    [username]="username"
    [selectedPollId]="selectedPollId"
  ></poll-item>
  }
</main>

<custom-dialog [open]="dialog() !== ''">
  @switch(dialog()) { @case ("signIn") {
  <sign-in-form
    [username]="username"
    [checkIsSignedIn]="checkIsSignedIn"
  ></sign-in-form>
  } @case ("createPoll") {
  <create-poll-form [dialog]="dialog"></create-poll-form>
  } @case ("createOption") {
  <create-option-form
    [dialog]="dialog"
    [selectedPollId]="selectedPollId"
  ></create-option-form>
  } }
</custom-dialog>
