<header class="mx-auto max-w-2xl">
  <div>
    <h1 class="text-3xl font-bold p-3">Event Organizer</h1>
    <button type="button">Button</button>
  </div>
  <hr class="bg-gray-300 border-0 rounded h-1 mx-3" />
</header>

<main class="mx-auto max-w-2xl p-3">
  <p class="text-center">Signed in as: {{ name() }}</p>
  <div class=""></div>
  <div class="">
    <!-- @for (poll of polls(); track $index) {
    <div class="">
      <div>{{ poll.title }}</div>
      <div>{{ poll.description }}</div>
      @if(poll.price) {
      <div>{{ poll.price }}</div>
      }
      <button type="button">Edit</button>
      <button type="button">Remove</button>
    </div>
    } -->
  </div>
</main>

<custom-dialog [open]="!isSignedIn()">
  <h1 class="text-2xl font-bold p-2">Welcome to Event Organizer</h1>
  <hr class="bg-gray-300 border-0 rounded h-1 mx-3" />
  <p class="p-1">What's your name?</p>
  <form class="m-2">
    <input
      type="text"
      class="m-2 rounded border-2 border-gray-300 outline-none p-2"
      autofocus
      [value]="name()"
      (input)="onNameChange($event)"
    />
    <button
      type="button"
      class="rounded border-2 border-gray-300 p-2"
      (click)="signIn()"
    >
      Sign In
    </button>
  </form>
</custom-dialog>
