<div
  class="p-2 border-2 border-gray-300 rounded flex justify-between items-center m-1"
>
  <div class="flex flex-col">
    <span class="text-xl underline">{{ option.title }}</span>
    <span>{{ option.description }}</span>
    <span>Price: {{ option.price }}</span>
  </div>
  <div>
    @if (false) {
    <button
      type="button"
      class="rounded bg-white text-blue-500 border-blue-500 p-2 m-1"
      (click)="onSelectOption()"
    >
      Select</button
    >} @else {
    <button
      type="button"
      class="rounded bg-blue-500 text-white p-2 m-1"
      (click)="onSelectOption()"
    >
      Unselect</button
    >}

    <button
      type="button"
      class="rounded bg-red-500 text-white p-2 m-1"
      (click)="onRemoveOption()"
    >
      Remove
    </button>
  </div>
</div>
