<div
  class="p-2 border-2 border-gray-300 rounded flex justify-between items-center m-1"
>
  <div class="flex flex-col">
    <span class="text-xl underline">{{ option.title }}</span>
    <span>Description: {{ option.description }}</span>
    <span>Price: {{ option.price }}</span>
    @if (votedUsers().length) {
    <span>Selected by: {{ votedUsers() }}</span>
    }
  </div>
  <div class="flex flex-col">
    @if(!isMultipleResult && isWinning()) {
    <span class="text-green-500 font-bold text-center">Winning Option</span>
    } @if (voteIfVoted() !== undefined) {
    <button
      type="button"
      class="rounded bg-blue-500 text-white p-2 m-1"
      (click)="onToggleVote()"
    >
      Unvote
    </button>
    } @else {
    <button
      type="button"
      class="rounded border bg-white text-blue-500 border-blue-500 p-2 m-1"
      (click)="onToggleVote()"
    >
      Vote
    </button>
    }

    <button
      type="button"
      class="rounded bg-red-500 text-white p-2 m-1"
      (click)="onRemoveOption()"
    >
      Remove
    </button>
  </div>
</div>
